/* Estilo geral da página*/
* {
    color: rgba(255, 174, 0, 0.911);
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    /* Cria o contorno preto */
}

/* Estilo do Cabeçalho*/
header {
    padding: 40px 4%;
}

/* Estilo básico de todos os elementos do cabeçalho que estão dentro do container interface */
header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}

/* Estilo dos links que ficam no cabeçalho (logo, início, etc.) */
header a {
    text-decoration: none;
    font-weight: bolder;
    display: inline-block;
    transition: .2s;
    color: rgba(255, 174, 0, 0.911) !important;
}

/*Faz com que os links do cabeçalho  cresçam e fiquem amarelo */
header a:hover {
    color: yellow;
    transform: scale(1.05);
}

/* Retira os marcadores da lista não ordenada */
header nav ul {
    list-style-type: none;
}

/* Alinha os elemntos da linha e dá um espaçamento entre eles*/
header nav li {
    display: inline-block;
    padding: 0 80px;
}

/* Torna os elementos dentro do container flex flexíveis */
.flex {
    display: flex;
}

/* Estilo do fundo da página */
body {
   background-color: rgb(106, 4, 14);
}
 
.titulo{
    padding-bottom: 20px;
}

/*Estilo da section chamada texto, a qual contém todo o conteúdo descritivo da página*/
.texto {
    padding: 40px 4%;
    margin-bottom: 80px;
    text-align: justify;
}

/*Estilo de todos os h1s que tem na seção texto */
.texto h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 30px;

}

/*Estilo específico para o h1 do título (nome História da página) */
.texto .titulo h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 45px;
    text-align: center;
}

/*Estilo de todos os parágrafos que tem na seção texto */
.texto p {
    margin: 15px;
    color: #ffffff;
}

/*Estilo das linhas das listas não ordenadas que estão na seção texto */
.texto ul li {
    margin: 15px;
    color: #ffffff;
}



